{% extends 'main/layout.html' %}

{% block content %}
<div class="features">
    <img src="/main/static/main/img/newsCat.png">
    <div class="contacts">
        <p>
            <fatty>По всем вопросам приюта:</fatty>
            house-of-hope@yahoo.com
        </p>
        <p>
            <fatty>По вопросам ОТЛОВА:</fatty>
            8(800) 900-33-20
        </p>
        <br>
        <center><fatty>Мы в социальных сетях:</fatty></center>
        <p>
            <fatty>Instagram: (* признана экстремистской и запрещена на территории РФ)</fatty>
            @houseOfHope
        </p>
        <p>
            <fatty>Вконтакте:</fatty>
            vk.com/houseOfHope
        </p>
        <p>
            <fatty>Facebook: (* признана экстремистской и запрещена на территории РФ)</fatty>
            facebook.com/houseOfHope
        </p>
    </div>
</div>
{% endblock %}

{% block title %}
{{title}}
{% endblock %}